.screenshots-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 300px;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
        border-radius: 10px;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #3e3e3e;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    .screenshot{
        position: relative;
        overflow: hidden;
        width: calc(50% - 10px);
        height: 85px;
        border-radius: 2px;

        &:focus{
            outline: 3px solid #2572c6;
            outline-offset: 2px;
            box-shadow: 0 0 6px 7px #0059b591;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .name{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 25px;
            background-color: rgba(#000000, 0.8);
            width: 100%;
            padding: 0 5px;
            transform: translateY(100%);
            transition: all .2s linear;
        }

        &:focus .name{
            transform: translateY(0);
        }
     
    }
}
