.item{
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 2px;

    &.pressed:focus{
        background-color: rgba(#000, 0.5);
    }

    &:focus{
        outline: 3px solid #2572c6;
        outline-offset: 2px;
        box-shadow: 0 0 6px 7px #0059b591;
        background-color: rgba(#fff, 0.05);
    }

    > .image{
        height: 55px;
        width: 55px;
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;

            &.icon{
                width: 32px;
                height: 32px;
            }
        }

        span{
            width: 24px;
            height: auto;
        }
    }

    > .content{
        padding: 5px;
        max-width: 235px;
        text-overflow: ellipsis;
        width: 100%;

        .text{
            min-height: 42px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }

    &.filled{
        background-color: rgba(#fff,0.05);
    }

    &.small{
        min-height: 30px;
        max-height: 30px;

        > .image{
            height: 30px;
            width: 30px;
        }
    
        .text{
            min-height: auto;
        }
        
    }

    &.only-image{
        width: 55px;
    }

    &.small.only-image{
        width: 30px;
    }
}